/* SearchBar.css */

/* Navbar styles */
.navbar1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #cdcaca;
    color: #fff;
    padding: 10px 20px;
  }
  
  /* All categories dropdown styles */
  .categories-dropdown {
    position: relative;
  }
  
  .categories-dropdown select {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
  }
  
  /* Search bar styles */
  .search-bar {
    flex-grow: 1;
   
    margin: 0 20px;
  }
  
  .search-bar input[type="text"] {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
  }
  
  /* Cart icon styles */
 
  .search-icon {

    top: 50%;
    right: 10px; /* Adjust the right position as needed */
 
    font-size: 20px;
    cursor: pointer;
  }
  .cart-icon {
    font-size: 24px;
    cursor: pointer;
  }
  

  @media (max-width: 768px) {
    .navbar1 {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
  
    .categories-dropdown {
      margin-bottom: 10px;
    }
  
    .search-bar {
      margin: 10px 0;
    }
  }
  .cart-icon {
    font-size: 24px;
    color: #ffd700; 
    margin-right: 10px; 
    border: 1px solid black;
    background-color: rgb(160, 160, 153);
    padding: 5px;
    border-radius: 30%;
  }
  
  